{% extends 'website/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load i18n %}
{% load exchange %}

{% block tab_title %}
    {% trans 'Finalizar Reserva' %}
{% endblock tab_title %}
{% block content %}
    <div class="container">
        <ul class="breadcrumb">
            <li><a href = '{% url 'servicios:cart' %}'>{% trans 'COMPLETAR RESERVA' %}</a></li>
            <li class = 'active'><a href = '{% url 'servicios:checkout_alojamiento_completo_servicio' reserva.servicio_id %}'>{% trans 'Reserva de ' %} {{ alojamiento.servicio }}</a></li>
        </ul>
        <div class = 'gap-small'></div>

        <div class="row row-wrap">
            <div class="col-md-7">
                <div class="booking-item-payment">

                    {% include 'servicios/includes/alojamientos/header_booking_details.html' %}

                    <ul class="booking-item-payment-details">
                        <li>
                            <h5>{% trans 'Reserva por' %}: {{ cantidad_noches }} {% trans 'noches' %}</h5>
                            <div class="booking-item-payment-date">
                                <p class="booking-item-payment-date-day">{{ initial_date }}</p>
                                <p class="booking-item-payment-date-weekday">{{ initial_date_week }}</p>
                            </div><i class="fa fa-arrow-right booking-item-payment-date-separator"></i>
                            <div class="booking-item-payment-date">
                                <p class="booking-item-payment-date-day">{{ final_date }}</p>
                                <p class="booking-item-payment-date-weekday">{{ final_date_week }}</p>
                            </div>
                        </li>
                        <li>
                            <ul class="booking-item-payment-price">
                                <li>
                                    {% include 'servicios/includes/servicios/cantidad_ninnos_adultos_reserva.html' %}
                                    <h5 class="booking-item-payment-price-amount">
                                        {{ reserva.precio_servicio | exchange:request.session.user_data.rate | floatformat:'2' }} {{ moneda }}
                                    </h5>
                                </li>
                            </ul>

                            <div class = 'gap-small'></div>
                            <br>

                            <ul class="booking-item-payment-price">
                                <li>
                                    <h5 class="booking-item-payment-price-title bolded" title = '{% trans 'Pago al propietario del Servicio' %}'>{% trans 'Total Servicio' %}</h5>
                                    <h5 class="booking-item-payment-price-amount bolded">
                                        {{ precio_servicio | exchange:request.session.user_data.rate | floatformat:'2' }} {{ moneda }}
                                    </h5>
                                </li>
                            </ul>

                            <div class = 'gap-small'></div>
                            <ul class="booking-item-payment-price">
                                <li>
                                    <h5 class="booking-item-payment-price-title bolded" title = '{% trans 'Pago a Ontraveline' %}'>{% trans 'Costo de Gestión' %}</h5>
                                    <h5 class="booking-item-payment-price-amount bolded">
                                        {{ costo_gestion | exchange:request.session.user_data.rate | floatformat:'2' }} {{ moneda }}
                                    </h5>
                                </li>
                            </ul>

                            <div class = 'gap-small'></div>

                            <ul class="booking-item-payment-price">
                                <li>
                                    <h5 class="booking-item-payment-price-title bolded" title = '{% trans 'Impuesto sobre el Costo de Gestión' %}'>{% trans 'Impuestos' %}</h5>
                                    <h5 class="booking-item-payment-price-amount bolded">
                                        {{ impuestos | exchange:request.session.user_data.rate | floatformat:'2' }} {{ moneda }}
                                    </h5>
                                </li>
                            </ul>

                            <div class = 'gap-small'></div>
                            <br>

                            <ul class="booking-item-payment-price">
                                <li>
                                    <h5 class="booking-item-payment-price-title bolded">{% trans 'Total a pagar' %}</h5>
                                    <h5 class="booking-item-payment-price-amount bolded">
                                        {{ total_a_pagar | exchange:request.session.user_data.rate | floatformat:'2' }} {{ moneda }}
                                    </h5>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <br>
                <small>{% trans 'Los desgloses de precios en monedas diferentes al CUC tienen caracter orientativo. Para determinar el pago en €, todos los cálculos se realizan en CUC y se convierten en € al final. Es posible que en el desglose de precios en monedas diferentes al CUC, se perciban diferencias de hasta 0.01€ si se realizan los cálculos en dichas monedas' %}</small>
            </div>
            <div class="col-md-5">
                <div class = 'row row-wrap'>
                    <div class = 'col-md-12'>
                        <h5>{% trans 'Pago Online (Ahora)' %}</h5>
                        <div class="booking-item-payment">
                            <ul class="booking-item-payment-details">
                                <li>
                                    <ul class="booking-item-payment-price">
                                        <li>
                                            <h5 class="booking-item-payment-price-title">{% trans 'Pre Reserva del Servicio' %}</h5>
                                            <h5 class="booking-item-payment-price-amount">
                                                {{ comision | exchange:request.session.user_data.rate | floatformat:'2' }} {{ moneda }}
{#                                            {% if moneda != moneda_por_defecto %}#}
{#                                                (~ {{ comision | exchange:request.session.user_data.billing_rate | floatformat:'2' }} {{ moneda_por_defecto }})#}
{#                                            {% endif %}#}
                                            </h5>
                                        </li>
                                        <div class = 'gap-small'></div>
                                        <li>
                                            <h5 class="booking-item-payment-price-title">{% trans 'Costo de Gestión' %}</h5>
                                            <h5 class="booking-item-payment-price-amount">
                                                {{ costo_gestion | exchange:request.session.user_data.rate | floatformat:'2' }} {{ moneda }}
{#                                            {% if moneda != moneda_por_defecto %}#}
{#                                                (~ {{ costo_gestion | exchange:request.session.user_data.billing_rate | floatformat:'2' }} {{ moneda_por_defecto }})#}
{#                                            {% endif %}#}
                                            </h5>
                                        </li>
                                        <div class = 'gap-small'></div>
                                        <li>
                                            <h5 class="booking-item-payment-price-title">{% trans 'Impuestos' %}</h5>
                                            <h5 class="booking-item-payment-price-amount">
                                                {{ impuestos | exchange:request.session.user_data.rate | floatformat:'2' }} {{ moneda }}
{#                                            {% if moneda != moneda_por_defecto %}#}
{#                                                (~ {{ impuestos | exchange:request.session.user_data.billing_rate | floatformat:'2' }} {{ moneda_por_defecto }})#}
{#                                            {% endif %}#}
                                            </h5>
                                        </li>
                                    </ul>
                                    <div class = 'gap-small'></div>
                                    <ul class="booking-item-payment-price">
                                        <li>
                                            <h5 class="booking-item-payment-price-title bolded">{% trans 'Total a pagar Online' %}</h5>
                                            <h5 class="booking-item-payment-price-amount bolded">
                                                {{ pago_online | exchange:request.session.user_data.rate | floatformat:'2' }} {{ moneda }}
                                                {% if moneda != moneda_por_defecto %}
                                                    ({{ pago_online | exchange:request.session.user_data.billing_rate | floatformat:'2' }} {{ moneda_por_defecto }})
                                                {% endif %}
                                                <i class = 'small fa fa-info-circle' title = '{% trans 'Todas las transacciones en esta plataforma serán realizadas Euros' %}'></i>
                                            </h5>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class = 'row row-wrap'>
                    <div class = 'col-md-12'>
                        <h5>{% trans 'Pago en efectivo (Al llegar)' %}</h5>
                        <p>{% trans 'Este pago será realizado en CUC al dueño del Alojamiento. Tenga en cuenta que la tasa de cambio respecto al' %} {{ moneda }} {% trans 'puede variar hasta entonces' %} </p>
                        <div class="booking-item-payment">
                            <ul class="booking-item-payment-details">
                                <li>
                                    <ul class="booking-item-payment-price">
                                        <li>
                                            <h5 class="booking-item-payment-price-title">{% trans 'Resto del Precio del Servicio' %}</h5>
                                            <h5 class="booking-item-payment-price-amount">
                                                {% if moneda.codigo_iso == 'CUC' %}
                                                    {{ pago_offline | exchange:request.session.user_data.rate | floatformat:'2' }} {{ moneda }}
                                                {% else %}
                                                    ~ {{ pago_offline | exchange:request.session.user_data.rate | floatformat:'2' }} {{ moneda }}
                                                    ({{ pago_offline | floatformat:'2' }} CUC)
                                                {% endif %}
                                            </h5>
                                        </li>
                                        <div class = 'gap-small'></div>
                                    </ul>
                                    <div class = 'gap-small'></div>
                                    <ul class="booking-item-payment-price">
                                        <li>
                                            <h5 class="booking-item-payment-price-title bolded">{% trans 'Total a pagar en Efectivo' %}</h5>
                                            <h5 class="booking-item-payment-price-amount bolded">
                                                {% if moneda.codigo_iso == 'CUC' %}
                                                    {{ pago_offline | exchange:request.session.user_data.rate | floatformat:'2' }} {{ moneda }}
                                                {% else %}
                                                    ~ {{ pago_offline | exchange:request.session.user_data.rate | floatformat:'2' }} {{ moneda }}
                                                    ({{ pago_offline | floatformat:'2' }} CUC)
                                                {% endif %}
                                                <i class = 'small fa fa-info-circle' title = '{% trans 'Los pagos en efectivo a los propietarios se realizarán en CUC al precio aquí indicado' %}'></i>
                                            </h5>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% include 'servicios/includes/servicios/paypal_payment.html' %}
            </div>
        </div>

    </div>
    <div class = 'gap-small'></div>
{% endblock content %}
