{% load staticfiles %}
{% load i18n %}

<!DOCTYPE HTML>
<html>
    <body>
        <div class = "container">
            <div class = 'gap'></div>
            <div class = "row gap">
                <div class = 'col-md-2 col-md-offset-5'>
                    <img src = "cid:emails/templates/emails/imagenes_emails/logotipo_ontraveline.png">
{#                    <img src = "{% static 'img/logo_ontraveline_40px.png' %}">#}
                </div>
            </div>

            <p class = 'text-bigger'>
                {% trans 'Hola!' %}
            </p>
            <p class = 'text-bigger'>
                {% trans 'Has recibido este email, porque alguien ha solicitado recuperar la contraseña de' %}
                <a href = 'https://www.ontraveline.com'>Ontraveline</a> {% trans 'asociada al mismo.' %}
            </p>
            <p>
                {% trans 'Si no has sido tú, te recomendamos que cambies la contraseña de esta cuenta de correo electrónica y revises el estado de tu cuenta en Ontraveline.' %}
            </p>
            <p>
                {% trans 'Si has sido tú, entonces sólo tienes que seguir ' %}
                <a href = '{{ url }}' style = 'font-weight: 400;'>{% trans 'este enlace' %}</a> {% trans 'para poder cambiar tu contraseña' %}
            </p>
            <br>
            <p class = 'text-bigger'>{% trans 'Si tienes problemas para seguir el enlace, copia y pega el siguiente link en tu navegador:' %}</p>
            <p class = 'text-bigger'>{{ url }}</p>
            <br>
            <p class = 'text-bigger'>{% trans 'Si tuviese más dificultades para recuperar su contraseña, por favor póngase en contacto con nosotros a través de nuestro ' %}<a href = 'https://www.ontraveline.com/contacto'>{% trans 'sitio web' %}</a></p>
            <br>
            <p class = 'text-bigger'>{% trans 'Muchas gracias por unirse a Ontraveline!' %}</p>
            <div class="gap"></div>
        </div>
    </body>
</html>


