{% extends 'website/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load exchange %}

{#INICIO TITULO PÁGINA#}
{% block tab_title %}
    {% trans 'Administrar Alojamiento' %}
{% endblock tab_title %}
{#FIN TÍTULO PÁGINA#}

{% block content %}
    <div class="container">

{#        INICIO BARRA DE DIRECCIÓN#}
        <ul class="breadcrumb">
            <li><a href = '{% url 'usuarios:perfil_usuario' %}'>{% trans 'PERFIL' %}</a></li>
            <li><a href = '{% url 'servicios:mis_servicios' %}'>{% trans 'MIS SERVICIOS' %}</a></li>
            <li class = 'active'><a href = '{% url 'servicios:administrar_alojamiento' alojamiento.id %}'>{% trans 'ADMINISTRAR ALOJAMIENTO' %}</a></li>
        </ul>
{#        FIN BARRA DE DIRECCIÓN#}

{#        INICIO AVISO VERIFICACIÓN PROVEEDOR#}
        {% include 'servicios/includes/servicios/aviso_verificacion_proveedor.html' %}
{#        FIN AVISO VERIFICACIÓN PROVEEDOR#}

{#        INICIO AVISO HABITACIONES VISIBLES#}
        {% if not alojamiento.habitaciones_asociadas or alojamiento.habitaciones_asociadas and not alojamiento.fotos %}
            <div class = 'gap-small'></div>
            <div class = 'alert alert-warning' style="text-align: center">
                <a class="popup-text" href = "#aviso_habitaciones_visibles" data-effect="mfp-zoom-out">
                    {% trans 'NECESITAS CREAR AL MENOS UNA HABITACIÓN CON FOTOS Y PRECIO PARA QUE ESTE ALOJAMIENTO SEA VISIBLE A LOS CLIENTES' %}
                    <i class = 'fa fa-info-circle'></i>
                </a>
                <div id = "aviso_habitaciones_visibles" class="mfp-with-anim mfp-hide mfp-dialog">
                    <h5>{% trans 'VISIBILIDAD DE ALOJAMIENTOS POR HABITACIONES' %}</h5>
                    <p>{% trans 'Este Alojamiento no será visible a los clientes hasta que no tenga al menos una Habitación con fotos y precio' %}</p>
                </div>
            </div>
        {% endif %}
{#        FIN AVISO HABITACIONES VISIBLES#}

        <div class="booking-item-details">

{#            INICIO INFORMACIÓN SOBRE EL ALOJAMIENTO#}
            {% include 'servicios/includes/alojamientos/informacion_alojamiento.html' %}
{#            FIN INFORMACIÓN SOBRE EL ALOJAMIENTO#}

            <div class="row">

{#                INICIO MAPA FOTOS ALOJAMIENTO POR HABITACIÓN#}
                <div class="col-md-6">
                    {% include 'servicios/includes/alojamientos/fotos_mapa_alojamiento_por_habitacion.html' %}
                </div>
{#                FIN MAPA FOTOS ALOJAMIENTO POR HABITACIÓN#}

                <div class="col-md-6">
                    <h3 class="lh1em mt40">{% trans 'Modalidad de renta: Por Habitación' %}</h3>
                    <div class = 'row'>

{#                        INICIO MENÚ ADMINISTRACIÓN ALOJAMIENTO#}
                        <div class = 'col-md-4'>
                            <a href="{% url 'servicios:modificar_alojamiento_por_habitacion' alojamiento.id %}" class = "btn btn-primary btn-block">
                                <i class = 'fa fa-pencil'></i>
                                {% trans 'Modificar Datos' %}
                            </a>
                            {% if alojamiento.check_add_habitacion %}
                                <a href = '{% url 'servicios:add_habitacion_alojamiento_por_habitacion' alojamiento.id %}' class="btn btn-primary btn-block">
                                    <i class = 'im im-bed'></i>
                                    {% trans 'Nueva Habitac.' %}
                                </a>
                            {% endif %}
                            <a href = '{% url 'servicios:video_servicio' alojamiento.servicio.id %}' class="btn btn-primary btn-block">
                                <i class = 'fa fa-youtube-play'></i>
                                {% trans 'Video Servicio' %}
                            </a>
                            <a href="{% url 'servicios:mis_servicios' %}" class="btn btn-primary btn-block">
                                <i class = 'fa fa-reply'></i>
                                {% trans 'Mis Servicios' %}
                            </a>
                            <a href = '{% url 'servicios:detalles_alojamiento' alojamiento.id %}' class = "btn btn-primary btn-block">
                                <i class = 'fa fa-eye'></i>
                                {% trans 'Ver como cliente' %}
                            </a>
                        </div>
{#                        FIN MENÚ ADMINISTRACIÓN ALOJAMIENTO#}

                        <div class = 'col-md-8'>

{#                            INICIO PUNTUACIONES#}
                            {% include 'servicios/includes/alojamientos/resumen_puntuaciones.html' %}
{#                            INICIO PUNTUACIONES#}

                        </div>
                    </div>
                    <div class = 'gap-small'></div>

{#                    INICIO DESCRIPCIÓN DEL ALOJAMIENTO#}
                    <div class = 'row'>
                        <div class="col-md-12">
                            <h4>{% trans 'Descripción del Alojamiento' %}</h4>
                            <p class="mb30">{{ alojamiento.servicio.descripcion }}</p>
                        </div>
                    </div>
{#                    FIN DESCRIPCIÓN DEL ALOJAMIENTO#}

                </div>
            </div>
            <div class = 'gap-small'></div>

            <hr>

            <div class="row">
                <div class="col-md-8">
                    <div class = 'row'>
                        <div class = 'col-md-12'>

{#                            INICIO LISTADO Y ADMINISTRACIÓN DE HABITACIONES#}
                            {% include 'servicios/includes/alojamientos/alojamiento_por_habitacion_habitaciones_admin.html' %}
{#                            FIN LISTADO Y ADMINISTRACIÓN DE HABITACIONES#}

                        </div>
                    </div>
                    <div class = 'row'>
                        <div class = 'col-md-12'>

{#                            INICIO EVALUACIONES#}
                            <h4 class="mb20">{% trans 'Evaluaciones' %}</h4>
                            <ul class="booking-item-reviews list">
                                {% for evaluacion in muestra_evaluaciones %}
                                    {% include 'servicios/includes/servicios/evaluacion.html' %}
                                {% empty %}
                                    <h5>{% trans 'Aún no hay evaluaciones para este Alojamiento' %}</h5>
                                {% endfor %}
                            </ul>

                            {% if alojamiento.cantidad_evaluaciones > muestra_evaluaciones|length %}
                                <a href = '{% url 'servicios:evaluaciones_servicio' servicio.id %}' target = "_blank">{% trans 'Ver todas las Evaluaciones' %}</a>
                            {% endif %}
{#                            FIN EVALUACIONES#}

                        </div>
                    </div>
                </div>

{#                INICIO COLUMNA CARACTERÍSTICAS ALOJAMIENTO#}
                <div class="col-md-4">
                    {% include 'servicios/includes/alojamientos/alojamiento_por_habitacion_caracteristicas_admin.html' %}
                </div>
{#                FIN COLUMNA CARACTERÍSTICAS ALOJAMIENTO#}

            </div>
            <hr>

{#            INICIO ELIMINAR ALOJAMIENTO#}
            {% if alojamiento.servicio.allow_delete %}
                {% include 'servicios/includes/alojamientos/alojamiento_eliminar_admin.html' %}
            {% endif %}

            <hr>

            {% if alojamiento.servicio.allow_close %}
                {% include 'servicios/includes/alojamientos/alojamiento_cerrar_admin.html' %}
            {% endif %}
{#            FIN ELIMINAR ALOJAMIENTO#}

        </div>
        <div class="gap gap-small"></div>
    </div>
{% endblock content %}

{% block js %}
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ GMaps_APIKey }}&callback=initMap"></script>
    <script src = '{% static 'js/custom/map_show_address.js' %}'></script>
    <script src = '{% static 'js/custom/confirmar_eliminar.js' %}'></script>
{% endblock js %}