{% extends 'servicios/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load i18n %}

{% block tab_title %}
    {% trans 'Modificar Habitación' %}
{% endblock tab_title %}

{% block page_title %}
    {% trans 'Modificar Habitacion' %} {{ numero_habitacion }} {% trans 'de' %} {{ habitacion.alojamiento.cantidad_habitaciones }} {% trans 'Para el Alojamiento:' %} {{ habitacion.alojamiento.servicio.nombre }}
{% endblock page_title %}

{% block page_menu%}
    <ul class="breadcrumb">
        <li><a href = '{% url 'usuarios:perfil_usuario' %}'>{% trans 'Perfil' %}</a></li>
        <li><a href = '{% url 'servicios:mis_servicios' %}'>{% trans 'Mis Servicios' %}</a></li>
        <li><a href = '{% url 'servicios:administrar_alojamiento' habitacion.alojamiento.id %}'>{% trans 'Administrar Alojamiento' %}</a></li>
        <li class = 'active'><a href = '{% url 'servicios:modificar_habitacion' habitacion.id %}'>{% trans 'Modificar Habitación' %}</a></li>
    </ul>
{% endblock page_menu %}

{% block content_servicios %}
    <div class="col-md-9">
{#        <p>{% trans 'Debes describir y añadir cada habitación antes de que pueda ser reservada por un cliente' %}</p>#}
        <form action = '' method = 'POST'>{% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <div class="checkbox">
                        <i class="im im-air"></i> {{ form.aire_acondicionado.label }}
                        <label>
                            {{ form.aire_acondicionado | attr:'class:i-check' | attr:'id:aire_acondicionado'}}
                        </label>
                    </div>
                    <div class="checkbox">
                        <i class="im im-spa"></i> {{ form.agua_caliente.label }}
                        <label>
                            {{ form.agua_caliente | attr:'class:i-check' | attr:'id:agua_caliente'}}
                        </label>
                    </div>
                    <div class="checkbox">
                        <i class="im im-bar"></i> {{ form.nevera_bar.label }}
                        <label>
                            {{ form.nevera_bar | attr:'class:i-check' | attr:'id:nevera_bar'}}
                        </label>
                    </div>
                    <div class="checkbox">
                        <i class="im im-terrace"></i> {{ form.balcon.label }}
                        <label>
                            {{ form.balcon | attr:'class:i-check' | attr:'id:balcon'}}
                        </label>
                    </div>
                    <div class="checkbox">
                        <i class="im im-lock"></i> {{ form.caja_fuerte.label }}
                        <label>
                            {{ form.caja_fuerte | attr:'class:i-check' | attr:'id:caja_fuerte'}}
                        </label>
                    </div>
                    <div class="checkbox">
                        <i class="im im-tv"></i> {{ form.tv.label }}
                        <label>
                            {{ form.tv | attr:'class:i-check' | attr:'id:tv'}}
                        </label>
                    </div>
                    <div class="checkbox">
                        <i class="im im-stereo"></i> {{ form.estereo.label }}
                        <label>
                            {{ form.estereo | attr:'class:i-check' | attr:'id:estereo'}}
                        </label>
                    </div>
                    <div class="checkbox">
                        <i class="im im-wind"></i> {{ form.ventanas.label }}
                        <label>
                            {{ form.ventanas | attr:'class:i-check' | attr:'id:ventanas'}}
                        </label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.camas_individuales.label }}
                            {{ form.camas_individuales | attr:'class:form-control' | attr:'placeholder:Camas Individuales' | attr:'id:camas_individuales'}}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.camas_dobles.label }}
                            {{ form.camas_dobles | attr:'class:form-control' | attr:'placeholder:Camas Dobles' | attr:'id:camas_dobles' }}
                        </div>
                    </div>
                </div>
            </div>
            <div class = 'row'>
                <div class = 'col-md-12'>
                    <hr>
                    <ul class="list-inline">
                        <li>
                            <input class = "btn btn-primary" type = "submit" value = "Modificar" name = 'modificar'/>
                        </li>
                        <li>
                            <a href = '{% url 'servicios:administrar_alojamiento' habitacion.alojamiento.id %}' class="btn btn-primary">
                                <i class = 'fa fa-reply'></i>
                                {% trans 'Volver' %}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
{% endblock content_servicios %}