{% load i18n %}

<a href="{% url 'servicios:modificar_alojamiento_completo' alojamiento.id %}" class="btn btn-primary btn-block">
    <i class = 'fa fa-pencil'></i>
    {% trans 'Modificar Datos' %}
</a>
{% if alojamiento.check_add_habitacion %}
    <a href = '{% url 'servicios:add_habitacion_alojamiento_completo' alojamiento.id %}' class="btn btn-primary btn-block">
        <i class = 'im im-bed'></i>
        {% trans 'Nueva Habitac.' %}
    </a>
{% endif %}
<a href = '{% url 'servicios:fotos_servicio' alojamiento.servicio.id %}' class = "btn btn-primary btn-block">
    <i class = 'fa fa-photo'></i>
    {% trans 'Gestionar Fotos' %}
</a>
<a href="#" class="btn btn-primary btn-block">
    <i class = 'fa fa-youtube-play'></i>
    {% trans 'Video Servicio' %}
</a>
<a href="{% url 'servicios:administrar_reglas_precio' 'servicio' alojamiento.servicio.id %}" class = "btn btn-primary btn-block">
    <i class = 'fa fa-euro'></i>
    {% trans 'Reglas de Precio' %}
</a>
<a href="{% url 'servicios:administrar_disponibilidades' 'servicio' alojamiento.servicio.id %}" class = "btn btn-primary btn-block">
    <i class = 'fa fa-clock-o'></i>
    {% trans 'Disponibilidad' %}
</a>
<a href = '{% url 'servicios:detalles_alojamiento' alojamiento.id %}' class = "btn btn-primary btn-block">
    <i class = 'fa fa-eye'></i>
    {% trans 'Ver como cliente' %}
</a>
<a href="{% url 'servicios:mis_servicios' %}" class="btn btn-primary btn-block">
    <i class = 'fa fa-reply'></i>
    {% trans 'Mis Servicios' %}
</a>