{% load i18n %}
{% load exchange %}

<header class="booking-item-header">
    <div class="row">
        <div class="col-md-7">

{#                        INICIO NOMBRE#}
            <h3 class="lh1em">{{ alojamiento }}</h3>
{#                        FIN NOMBRE#}

{#                        INICIO DIRECCION#}
            <p class="lh1em text-small">
                <i class="fa fa-map-marker"></i>
                {{ alojamiento.direccion }}, {{ alojamiento.municipio }}, {{ alojamiento.provincia }}
            </p>
{#                        FIN DIRECCION#}

{#                        INICIO DATOS CONTACTO#}
            {% if alojamiento.servicio.sitio_web %}
                <ul class="list list-inline text-small">
{#                    <li><a href = ''><i class="fa fa-envelope"></i> {{ alojamiento.servicio.email }}</a></li>#}
                    <li><a href = '{{ alojamiento.servicio.sitio_web }}'><i class="fa fa-home"></i>{% trans ' Sitio Web' %}</a></li>
{#                    <li><i class="fa fa-phone"></i> {{ alojamiento.servicio.movil }}</li>#}
                </ul>
            {% endif %}
{#                        FIN DATOS CONTACTO#}

        </div>
        <div class="col-md-5">

{#                        INICIO PRECIO MINIMO#}
            {% if alojamiento.precio_minimo %}
                <p class="booking-item-header-price"><small>{% trans 'Precio desde' %}</small>  <span class="text-lg">{{ alojamiento.precio_minimo | exchange:request.session.user_data.rate | floatformat:'2' }} {{ moneda }} </span>{% trans ' / noche' %}</p>
            {% endif %}
{#                        FIN PRECIO MINIMO#}

        </div>
    </div>
</header>