{% extends 'website/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load i18n %}
{% load inicio %}

{% block tab_title %}
    {% trans 'Ontraveline | Blog' %}
{% endblock tab_title %}

{% block content %}
    <div class = 'container'>
        <ul class="breadcrumb">
            <li><a href = '{% url 'website:index' %}'>{% trans 'INICIO' %}</a></li>
            {% if post_ %}
                <li><a href = '{% url 'blog:index' %}'>{% trans 'BLOG' %}</a></li>
                <li class = 'active'><a href = '{% url 'blog:post' post_.id %}'>{{ post_.titulo.upper }}</a></li>
            {% elif categoria_ %}
                <li><a href = '{% url 'blog:index' %}'>{% trans 'BLOG' %}</a></li>
                <li class = 'active'><a href = '{% url 'blog:categoria' categoria_.id %}'>{{ categoria_.nombre.upper }}</a></li>
            {% else %}
                <li class = 'active'><a href = '{% url 'blog:index' %}'>{% trans 'BLOG' %}</a></li>
            {% endif %}
        </ul>
        <div class = 'gap-small'></div>
{#        <h2>{% trans 'Blog de Ontraveline' %}</h2>#}
    </div>

    <div class = 'gap-small'></div>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <!-- START BLOG POST -->
                {% for post in posts %}
                    <div class="article post">

                        {% include 'blog/includes/header_post.html' %}

                        <div class="post-inner">

                            <h4 class="post-title"><a class="text-darken" href="{% url 'blog:post' post.id %}">{{ post.titulo }}</a></h4>

                            {% include 'blog/includes/meta_post.html' %}

                            <p class="post-desciption">
                                {{ post.descripcion }}
                            </p>
{#                            Si se trata de una vista de un post en particular se muestra el texto completo de este#}
                            {% if post_ %}
                                <p class = "post-desciption">{{ post.texto }}</p>
                                <a class = "btn btn-small btn-primary" href = "{% url 'blog:index' %}">{% trans 'Volver' %}</a>
                            {% else %}
                                <a class = "btn btn-small btn-primary" href = "{% url 'blog:post' post.id %}">{% trans 'Leer más' %}</a>
                            {% endif %}

                        </div>
                    </div>
                    <!-- END BLOG POST -->
                {% empty %}
                    <div class = 'alert alert-danger'>
                        {% trans 'No hay resultados que mostrar, prueba con otro título...' %}
                    </div>
                {% endfor %}

{#                <ul class="pagination">#}
{#                    <li class="active"><a href="#">1</a></li>#}
{#                    <li><a href="#">2</a></li>#}
{#                    <li><a href="#">3</a></li>#}
{#                    <li><a href="#">4</a></li>#}
{#                    <li><a href="#">5</a></li>#}
{#                    <li><a href="#">6</a></li>#}
{#                    <li><a href="#">7</a></li>#}
{#                    <li class="dots">...</li>#}
{#                    <li><a href="#">43</a></li>#}
{#                    <li class="next"><a href="#">Next Page</a></li>#}
{#                </ul>#}

            </div>
            <div class="col-md-3">
                {% include 'blog/includes/sidebar_blog.html' %}
            </div>
        </div>
    </div>
    <div class = 'gap-small'></div>
{% endblock %}