{% extends 'servicios/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load widget_tweaks %}

{% block tab_title %}
    {% trans 'Ontraveline | Verificación Identidad' %}
{% endblock tab_title %}

{% block page_menu %}
    <ul class = "breadcrumb">
        <li><a href = '{% url 'usuarios:perfil_usuario' %}'>{% trans 'PERFIL' %}</a></li>
        <li><a href = '{% url 'usuarios:centro_verificacion_datos' %}'>{% trans 'VERIFICACIÓN DE DATOS' %}</a></li>
        <li class = 'active'><a href = '{% url 'usuarios:documentos_verificacion_identidad' usuario.id %}'>{% trans 'DOCUMENTOS VERIFICACIÓN DE IDENTIDAD' %}</a></li>
    </ul>
{% endblock page_menu %}

{% block content_servicios %}
    <div class="col-md-9">
        <h2>{% trans 'Documentos para Verificación de Identidad' %}</h2>
        <p>{% trans 'Una vez aprobados, tu identidad será etiquetada como "Verificado" en el ' %} <a href = '{% url 'usuarios:centro_verificacion_datos' %}'> {% trans 'Centro de Verificación de Datos' %} </a> </p>
        <div class = 'gap-small'></div>
        <div id = "popup-gallery">
            <div class = 'row'>
                {% for documento_identidad in documentos_identidad %}
                    <div class="col-md-3">
                        <a class="hover-img popup-gallery-image" href="{{ documento_identidad.foto.url }}" data-effect="mfp-zoom-out">
                            <img src="{{ documento_identidad.foto.url }}" alt="Debe subir una imagen para poder visualizarla aquí" title="{{ foto.post }}" /><i class="fa fa-plus round box-icon-small hover-icon i round"></i>
                        </a>
                        <a href = '{% url 'usuarios:eliminar_foto_documento_identidad' documento_identidad.id %}'>
                            <span class = 'danger'>{% trans 'Eliminar' %}</span>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>

        <hr>

        <p>
            <a class = 'btn btn-primary' href = '{% url 'usuarios:centro_verificacion_datos' %}'><i class = 'fa fa-reply'></i>{% trans 'Volver al Centro de Verificación de Datos' %}</a>
        </p>
    </div>
{% endblock content_servicios %}