{% extends 'website/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load i18n %}

{% block tab_title %}
    Login
{% endblock tab_title %}

{% block content %}

    <div class = 'gap-small'></div>
    <div class="container">
        <h2 align = "center">{% trans 'Entrar/Registrarse' %}</h2>
    </div>
    <div class = 'gap-small'></div>

    <div class="container">
        <div class = '{{ class_alert }}' align = 'center'>
            {{ message }}
        </div>
        <div class="row" data-gutter="60">

            <div class="col-md-4">
                <h3>Bienvenido a Ontraveline</h3>
                <p>Euismod nunc porta magna elementum penatibus amet gravida sit ligula odio id nunc proin sem augue quis posuere interdum in sapien congue rutrum scelerisque sociosqu cubilia ridiculus et luctus mollis</p>
                <p>Praesent est semper massa lobortis quisque lectus ridiculus hac eget</p>
            </div>
            <div class="col-md-4">
                <h3>Login</h3>

                <form action = '' method = 'POST'>{% csrf_token %}
                    <div class="form-group form-group-icon-left"><i class="fa fa-user input-icon input-icon-show"></i>
                        <label>Nombre de usuario / Correo electrónico</label>
                        {{ login_form.username | attr:'class:form-control form-control-solid placeholder-no-fix'| attr:'placeholder: Ejemplo: johndoe88' | attr:'autocomplete: off' }}
                    </div>

                    <div class="form-group form-group-icon-left"><i class="fa fa-lock input-icon input-icon-show"></i>
                        <label>Contraseña</label>
                        {{ login_form.password | attr:'class:form-control form-control-solid placeholder-no-fix'| attr:'placeholder: Introduzca su contraseña' | attr:'autocomplete: off' }}
                    </div>

                    <input class="btn btn-primary btn-block" type="submit" value="Entrar" name = 'login'/>

                </form>

                <div class = 'gap-small'></div>
                <hr>

                <p>
                    <a href = '{% url 'usuarios:forgot_password' %}'>
                        {% trans '¿Ha olvidado su contraseña?' %}
                    </a>
                </p>

            </div>

            <div class="col-md-4">
                <h3>¿Aún no tienes cuenta?</h3>
                <form action = '' method = 'POST'>{% csrf_token %}
                    <div class="form-group form-group-icon-left"><i class="fa fa-user input-icon input-icon-show"></i>
                        <label>Nombre de Usuario</label>
                        {{ register_form.username | attr:'class:form-control form-control-solid placeholder-no-fix'| attr:'placeholder: Ejemplo: johndoe88' | attr:'autocomplete: off' }}
                    </div>
                    <div class="form-group form-group-icon-left"><i class="fa fa-envelope input-icon input-icon-show"></i>
                        <label>Email</label>
                        {{ register_form.email | attr:'class:form-control form-control-solid placeholder-no-fix'| attr:'placeholder: Ejemplo: johndoe88' | attr:'autocomplete: off' }}
                    </div>
                    <div class="form-group form-group-icon-left"><i class="fa fa-lock input-icon input-icon-show"></i>
                        <label>Contraseña</label>
                        {{ register_form.password | attr:'class:form-control form-control-solid placeholder-no-fix'| attr:'autocomplete: off' }}
                    </div>
                    <div class="form-group form-group-icon-left"><i class="fa fa-lock input-icon input-icon-show"></i>
                        <label>Repita la contraseña</label>
                        {{ register_form.password2 | attr:'class:form-control form-control-solid placeholder-no-fix'| attr:'autocomplete: off' }}
                    </div>

                    <input class="btn btn-primary btn-block" type="submit" value="Registrarse" name = 'register'/>
                </form>
            </div>
        </div>
    </div>

    <div class="gap"></div>
{% endblock %}