{% extends 'website/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load i18n %}

{% block tab_title %}
    {% trans 'Restablecer Contraseña' %}
{% endblock tab_title %}

{% block content %}

    <div class = 'gap'></div>
    <div class="container">
        <h2 align = "center">{% trans 'Restablecer Contraseña' %}</h2>
    </div>
    <div class = 'gap-small'></div>

    <div class="container">

    {% if message %}
        <div class = '{{ class_alert }}'>
            {{ message }}
        </div>
    {% endif %}

        <div class = 'gap-small'></div>
        <div class="row" data-gutter="60">

            <div class="col-md-4">
            </div>

            <div class="col-md-4">

                <form action = '' method = 'POST'>{% csrf_token %}
                    <div class="form-group form-group-icon-left"><i class="fa fa-lock input-icon input-icon-show"></i>
                        <label>{% trans 'Introduzca una nueva contraseña' %}</label>
                        {{ form.new_password | attr:'class:form-control form-control-solid placeholder-no-fix'| attr:'autocomplete: off' }}
                    </div>

                    <div class="form-group form-group-icon-left"><i class="fa fa-lock input-icon input-icon-show"></i>
                        <label>{% trans 'Repita su contraseña' %}</label>
                        {{ form.new_password_2 | attr:'class:form-control form-control-solid placeholder-no-fix'| attr:'autocomplete: off' }}
                    </div>

                    <input class="btn btn-primary btn-block" type="submit" value="Cambiar contraseña" name = 'login'/>

                </form>

                <div class = 'gap-small'></div>
            </div>
    </div>

    <div class="gap"></div>
{% endblock %}